/* Coolors Exported Palette - coolors.co/343330-7e5920-4e4f38-f1e4e8-4c5b61 */

/* HSL */
$color1: hsla(45%, 4%, 20%, 1);
$color2: hsla(36%, 59%, 31%, 1);
$color3: hsla(63%, 17%, 26%, 1);
$color4: hsla(342%, 32%, 92%, 1);
$color5: hsla(197%, 12%, 34%, 1);

/* RGB */
$color1: rgba(52, 51, 48, 1);
$color2: rgba(126, 89, 32, 1);
$color3: rgba(78, 79, 56, 1);
$color4: rgba(241, 228, 232, 1);
$color5: rgba(76, 91, 97, 1);